name: ci
on:
  pull_request:
  push:
    branches:
      - main

permissions:
  contents: read

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        ros-distro: [humble, jazzy]
    uses: ./.github/workflows/alpine-ros2-release.yaml
    with:
      ros-distro: ${{ matrix.ros-distro }}
      source-repo-slug: alpine-ros/sample2-ros-pkg
      source-branch: main
      release-ref: 0.0.0
      release-repo-slug: alpine-ros/sample2-ros-pkg-release
      rosdistro-repo-slug: alpine-ros/rosdistro
      rosdistro-repo-branch: alpine-custom-apk
      rosdistro-fork-slug: alpine-ros-bot/rosdistro
      git-user: alpine-ros-bot
      git-email: 214657941+alpine-ros-bot@users.noreply.github.com
      action-ref: ${{ github.head_ref }}
    secrets:
      token: ${{ secrets.GITHUB_TOKEN }}
